<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="usuario.nome"
     label="Nome:" labelPlacement="floating" placeholder="Digite Nome Completo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="usuario.email"
    label="Email:" labelPlacement="floating" placeholder="Digite um Email Válido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="usuario.senha" 
    label="Senha:" labelPlacement="floating" placeholder="Digite uma Senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="confirmaSenha" 
    label="Confirme a Senha:" labelPlacement="floating" placeholder="Repita a Senha"></ion-input>
  </ion-item>

  <ion-button (click)="salvarUsuario()" expand="full" color="success">SALVAR</ion-button>
  <ion-button routerLink="/" expand="full" fill="clear" color="dark">VOLTAR</ion-button>

</ion-content>
