<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="produto.nome"
     label="Produto:" labelPlacement="floating" placeholder="Digite o nome do Produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.descricao"
    label="Descricao:" labelPlacement="floating" placeholder="Digite a Descricao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.validade" 
    label="Validade:" labelPlacement="floating" placeholder="Digite a Validade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.preco" 
    label="Preco:" labelPlacement="floating" placeholder="Preco"></ion-input>
  </ion-item>

  <ion-button (click)="salvarProduto()" expand="full" color="success">SALVAR</ion-button>
  <ion-button routerLink="/" expand="full" fill="clear" color="dark">VOLTAR</ion-button>
  

</ion-content>
