<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="produto.nome"
     label="Produto:" labelPlacement="floating" placeholder="Digite o nome do Produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.descricao"
    label="Preco:" labelPlacement="floating" placeholder="Digite o preco"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.validade" 
    label="Tipo:" labelPlacement="floating" placeholder="Digite o tipo do produto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="produto.preco" 
    label="Marca:" labelPlacement="floating" placeholder="Marca"></ion-input>
  </ion-item>

  <ion-button (click)="salvarProduto()" expand="full" color="success">SALVAR</ion-button>
  <ion-button routerLink="/" expand="full" fill="clear" color="dark">VOLTAR</ion-button>
  

</ion-content>
