<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="Digite codigo do produto:" [(ngModel)] = "id"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="buscarPorID()">
    Buscar por codigo produto
  </ion-button>

  <ion-button expand="block" (click)="buscarProdutos()">
    Limpar
  </ion-button>

  <div *ngIf="produto">
    <h2 style="color: blue">Resultado da Busca</h2>
    <ion-item>
      <ion-badge slot="start">{{produto.id}}</ion-badge>
      <ion-label>
        <h3>{{produto.id}}</h3>
        <p>{{produto.nome}}</p>
        <p>{{produto.descricao}}</p>
        <p>{{produto.validade}}</p>
        <ion-label>R$ {{produto.preco}}</ion-label>
      </ion-label>
    </ion-item>
  </div>

  <ion-item *ngFor="let prod of listaProdutos">
    <ion-badge slot="start">{{prod.id}}</ion-badge>
    <ion-label>
      <h3>{{prod.id}}</h3>
      <h3>{{prod.nome}}</h3>
      <p>{{prod.descricao}}</p>
      <p>{{prod.validade}}</p>
      <p>{{prod.preco}}</p>
    </ion-label>
  </ion-item>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button routerLink="/cadastro-produto">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>